body{
    background-color: #93f2b1;
}
h1{
    text-align: center;
    font-family:monospace;
}
main{
    text-align: center;
    font-family: serif;
}
#inside-main{
    margin-top: 2%;
}
#font-size-input, #font-color-input, #font-family-input{
    border-radius: 20%;
    border-color: white;
    color: black;
    margin: 10px;
}
#text{
    font-size: 15px;    
    transition: font-size 0.3s ease;
}
#font-size-input{
    font-size: 16px;
    width: 100px;
    text-align: center;
}